.screenWelcome {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 40rem;
    height: 100vh;
    background-color: var(--primary);
    padding: 2rem 0;
}

.screenWelcome .logoInitial {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screenWelcome .logoInitial img {
    width: 3.5rem;
    height: 4rem;
}

.screenWelcome .logoInitial h1 {
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--text-white);
}

.screenWelcome button{
    padding: 0.5rem 2rem;
    border-radius: 0.25rem;
    color: var(--red-details);
    font-size: 0.75rem;
    line-height: 1rem;
    border: 2px solid var(--red-details);
}